<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
<site-name>site202asp</site-name>
<site_name>site202asp</site_name>
<baseURI>https://site202asp-irs.dq.lan</baseURI>
<basePath>/km/api/latest</basePath>
<accountusername>administrator</accountusername>
<accountuserpwd>Welcome@123</accountuserpwd>
<apiusername>iu_migrator</apiusername>
<apiuserpwd>okcs1234</apiuserpwd>
<locale>en_US</locale>
<interfaceID>1</interfaceID>
<lan>dq</lan>
<Accept>application/xml</Accept>
<ContentType>application/xml</ContentType>
<integrationToken>c2l0ZTIwMmFzcDpDa2l5MHJMS2tPMktFY29nRXNYdUNaK3A2cEtoSHJnZHdrd0FGZTN2MUNDQU9KUTlKZXQvbWFjVTRpWEp6dXBLbW15T1FPdFEwWlM3ZGpxUmM5Zk9RL3RldlpNWmhiRzk5TkNCWTZtR2lLTzJwL3Q4OVVlT2JqbDUwdTdVVkV2SExqNGJqUUdkTjkySFRTU3BzNE1JMDduOEtVeEdLYXRHK2FDaXpBcmJGMzg9</integrationToken>
<userauthtoken>{"localeId":"en_US","knowledgeInteractionId":null,"interactionIdGenerated":null,"appId":null,"siteName":"site202asp","interfaceId":null,"requiresBillable":null,"captureAnalytics":null,"integrationUserToken":null,"userToken":"Ix7mPq1/GddIOaCYQBQSnHUHcvIDvff7IMXQm2QxmTo7t0TdK+NDwddrE3ElXa0oU5zfD/tgz5/dMRKji4c4s1+74yhaypritOcFlHIHzTw+RGL8INpRQ8KpAXqjoJQFIH569VAlgttGny9cLNUQCg==","referrer":null,"querySource":null,"clientIP":null,"localeOverride":null}</userauthtoken>
<kmauthtoken>{"localeId":"en_US","knowledgeInteractionId":null,"interactionIdGenerated":null,"appId":null,"siteName":"site202asp","interfaceId":null,"requiresBillable":null,"captureAnalytics":null,"integrationUserToken":"c2l0ZTIwMmFzcDpDa2l5MHJMS2tPMktFY29nRXNYdUNaK3A2cEtoSHJnZHdrd0FGZTN2MUNDQU9KUTlKZXQvbWFjVTRpWEp6dXBLbW15T1FPdFEwWlM3ZGpxUmM5Zk9RL3RldlpNWmhiRzk5TkNCWTZtR2lLTzJwL3Q4OVVlT2JqbDUwdTdVVkV2SExqNGJqUUdkTjkySFRTU3BzNE1JMDduOEtVeEdLYXRHK2FDaXpBcmJGMzg9","userToken":"Ix7mPq1/GddIOaCYQBQSnHUHcvIDvff7IMXQm2QxmTo7t0TdK+NDwddrE3ElXa0oU5zfD/tgz5/dMRKji4c4s1+74yhaypritOcFlHIHzTw+RGL8INpRQ8KpAXqjoJQFIH569VAlgttGny9cLNUQCg==","referrer":null,"querySource":null,"clientIP":null,"localeOverride":null}</kmauthtoken>
</config>
