<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<config>
<site-name>site202asp</site-name>
<site_name>site202asp</site_name>
<baseURI>https://site202asp-irs.dq.lan</baseURI>
<basePath>/km/api/latest</basePath>
<accountusername>administrator</accountusername>
<accountuserpwd>Welcome@123</accountuserpwd>
<apiusername>iu_migrator</apiusername>
<apiuserpwd>okcs1234</apiuserpwd>
<locale>en_US</locale>
<interfaceID>1</interfaceID>
<lan>dq</lan>
<Accept>application/xml</Accept>
<ContentType>application/xml</ContentType>
<integrationToken>c2l0ZTIwMmFzcDo2WnR1YU9ZamQwMWYvblA5SWtDWitjOVJRWGtPTTVIdksxd2lhanRHNkltS2hDV1hkL2lWcVZyeGhPQW8ybzEyM1lUc2VmQ0dVdVgvK3JqdjhJcm9JQmxFMG53QlYvN05NMU5XY0lKMER2SnE3RFhLeWlHT0hmV21ZVHJzclg0S3Z6Y3JoWDA1Z0hUMGRjcFE5aDlVbUxWUFlsYUR1TW5iN1pUME5YVkJDTTg9</integrationToken>
<userauthtoken>{"localeId":"en_US","knowledgeInteractionId":null,"interactionIdGenerated":null,"appId":null,"siteName":"site202asp","interfaceId":null,"requiresBillable":null,"captureAnalytics":null,"integrationUserToken":null,"userToken":"wlOhVPOn05vbjsX2ZWPfg32v85euZnLwwjqUwPmgAifATO42ZhczQ2ywPIiec0QttzCK4EVwYvHRIs4ldRycIVUwRrqY1Tya6+tnNY47dsHx14SoA/hR7hdPU31Tqy6OoGLXZsVuuuc5jBlbHrc6Kg==","referrer":null,"querySource":null,"clientIP":null,"localeOverride":null}</userauthtoken>
<kmauthtoken>{"localeId":"en_US","knowledgeInteractionId":null,"interactionIdGenerated":null,"appId":null,"siteName":"site202asp","interfaceId":null,"requiresBillable":null,"captureAnalytics":null,"integrationUserToken":"c2l0ZTIwMmFzcDo2WnR1YU9ZamQwMWYvblA5SWtDWitjOVJRWGtPTTVIdksxd2lhanRHNkltS2hDV1hkL2lWcVZyeGhPQW8ybzEyM1lUc2VmQ0dVdVgvK3JqdjhJcm9JQmxFMG53QlYvN05NMU5XY0lKMER2SnE3RFhLeWlHT0hmV21ZVHJzclg0S3Z6Y3JoWDA1Z0hUMGRjcFE5aDlVbUxWUFlsYUR1TW5iN1pUME5YVkJDTTg9","userToken":"wlOhVPOn05vbjsX2ZWPfg32v85euZnLwwjqUwPmgAifATO42ZhczQ2ywPIiec0QttzCK4EVwYvHRIs4ldRycIVUwRrqY1Tya6+tnNY47dsHx14SoA/hR7hdPU31Tqy6OoGLXZsVuuuc5jBlbHrc6Kg==","referrer":null,"querySource":null,"clientIP":null,"localeOverride":null}</kmauthtoken>
</config>
